@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #379ad3;
  --foreground: #212529;
  --background: #ffffff;
}

:root.dark {
  --foreground: #dddddd;
  --background: #212529;
}

html {
  background-color: var(--primary);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-weight: 300;
  line-height: 1.75;
}

.linear-transition-color {
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-property: color, fill, background-color;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 670px) {
  html {
    font-size: 14px;
  }
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
